<header class="page-header">
  <h1>About Us</h1>
</header>

<div class="panel panel-default dashboard text-center">
  <h3>Our Mission:</h3>
    <h4>Colors bounced around in her head. They mixed and threaded themselves together. Even colors that had no business being together. They were all one, yet distinctly separate at the same time. How was she going to explain this to the others?</h4>
</div>

<div class="panel panel-default dashboard text-center">
  <h3>Our Products:</h3>
    <h4>He scolded himself for being so tentative. He knew he shouldn't be so cautious, but there was a sixth sense telling him that things weren't exactly as they appeared. It was that weird chill that rolls up your neck and makes the hair stand on end. He knew that being so tentative could end up costing him the job, but he learned that listening to his sixth sense usually kept him from getting into a lot of trouble.</h4>
</div>

<div class="panel panel-default dashboard text-center">
  <h3>Dev Team:</h3>
    <img src="https://cdn.vox-cdn.com/thumbor/Ie2tD2XTfhd0pA9LE_rkrvIfPHo=/0x0:630x473/1400x1400/filters:focal(0x0:630x473):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/36471122/1024_revenge_nerds_630x420.0.jpg" width="500" height="500">
</div>