// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}


.sold-badge {
  top: 1em;
  left: -1em;
  color: #fff;
  display: block;
  position:absolute;
  text-align: center;
  text-decoration: none;
  letter-spacing: .06em;
  background-color: #A00;
  text-shadow: 0 0 0.75em #444;
  box-shadow: 0 0 0.5em;
  transform: rotate(326deg);
  border-radius: 100em;
  width: 40%;
}